{"processing": false, "lastId": 86515, "siteUrl": "https://www.hacg.cat/wp/", "transmissionHost": "", "transmissionPort": 9091, "transmissionUsername": "", "transmissionPass": "", "transmissionDir": "/volume1/transmission/liuli"}
